CONFIG_MODULES=y
CONFIG_MODULE_UNLOAD=y
CONFIG_MODVERSIONS=y
# CONFIG_MODULE_COMPRESS is not set
# CONFIG_MODULE_SIG is not set

CONFIG_PCI=y
CONFIG_VIRTIO=y
CONFIG_VIRTIO_PCI=y

CONFIG_VIRTIO_BLK=m
CONFIG_BLK_DEV_NVME=m
CONFIG_BLK_DEV_SD=m
CONFIG_ATA=m
CONFIG_ATA_PIIX=m
CONFIG_SATA_AHCI=m
CONFIG_USB_STORAGE=m

CONFIG_EXT4_FS=m
CONFIG_FAT_FS=m
CONFIG_VFAT_FS=m
CONFIG_MSDOS_FS=m
CONFIG_NLS_CODEPAGE_437=m
CONFIG_NLS_ISO8859_1=m

CONFIG_BLK_DEV_INITRD=y
CONFIG_DEVTMPFS=y
CONFIG_SERIAL_8250=y
CONFIG_SERIAL_8250_CONSOLE=y

CONFIG_VT=y
CONFIG_VT_CONSOLE=y
CONFIG_VGA_CONSOLE=y
CONFIG_SYSFB_SIMPLEFB=y
CONFIG_DRM_SIMPLEDRM=y
CONFIG_DRM_FBDEV_EMULATION=y
CONFIG_FRAMEBUFFER_CONSOLE=y
